<section class="card" id="01">
<h2 class="heading">Eveniet doloribus exercitationem voluptate accusamus natus eum.</h2>
<p class="question">Animi repellat magnam earum id doloremque dolorem incidunt quis similique autem, corporis at perspiciatis iste.</p>
</section>
<section class="card" id="02">
<h2 class="heading">Eos ipsum architecto earum debitis odit omnis, enim praesentium ullam autem deleniti.</h2>
    <p class="question">Quasi velit officia, incidunt mollitia dolorum maiores labore veritatis tempore sit! Aspernatur!</p>
</section>
<section class="card" id="03">
    <h2 class="heading">Doloremque modi vel voluptatum, nam blanditiis architecto provident eligendi hic quam non?</h2>
    <p class="question">Accusantium id minima eos deleniti? Sint explicabo eligendi sed esse, dolorum vel?</p>
</section>
<section class="card" id="04">
    <h2 class="heading">Eos assumenda eveniet minus consequatur ea soluta iure officia optio facilis illum!</h2>
    <p class="question">Harum quod repellat beatae iusto cumque voluptatibus doloremque dolor hic exercitationem delectus!</p>
</section>
