<section class="card" id="01">
    <h2 class="heading">Eveniet doloribus exercitationem voluptate accusamus natus eum.</h2>
    <p class="question">Animi repellat magnam earum id doloremque dolorem incidunt quis similique autem, corporis at perspiciatis iste.</p>
    <br>
    <input type="button" id="post_edit" class="button" value="edit">
    <input type="button" id="post_save" class="button hidden" value="save">
    <input type="button" id="post_delete" class="button" value="delete">
</section>