<section class="card">
    <form action="" method="post">
        <output class="error for_username"></output>
        <label for="username">Write your username:
            <input class="field" name="username" type="text">
        </label>
        <output class="error for_password"></output>
        <label for="password">Write your password:
            <input class="field" name="password" type="password">
        </label>
        <br>
        <input type="button" id="signin" class="button" value="sign in">
        <a href="#signup"><input type="button" class="button" value="sign up"></a>
    </form>
</section>