<section class="card">
    <form action="" method="post">
        <output class="error for_name"></output>
        <label for="name">Write your name:<input class="field" name="name" type="text"></label>
        <output class="error for_username"></output>
        <label for="username">Write your username:<input class="field" name="username" type="text"></label>
        <output class="error for_password"></output>
        <label for="password">Write your password:<input class="field" name="password" type="password"></label>
        <output class="error for_password_again"></output>
        <label for="password again">Write your password again:<input class="field" name="password_again" type="password"></label>
        <br>
        <input type="button" id="signup" class="button" value="sign up">
        <a href="#signin"><input type="button" class="button" value="sign in"></a>
    </form>
</section>