<section>
    <form action="" method="post">
        <p class="output for_name"></p>
        <label for="name">Write your name:<input class="field" name="name" type="text"></label>
        <p class="output for_username"></p>
        <label for="username">Write your username:<input class="field" name="username" type="text"></label>
        <p class="output for_password"></p>
        <label for="password">Write your password:<input class="field" name="password" type="password"></label>
        <p class="output for_password_again"></p>
        <label for="password again">Write your password again:<input class="field" name="password_again" type="password"></label>
        <br>
        <input type="button" class="button" value="sign up">
        <input type="button" class="button" value="sign in">
    </form>
</section>